/* SearchBar.css */
.search-bar {
  padding: 10px;
  font-size: 18px; /* Ajuste do tamanho da fonte */
  width: 100%;
  max-width: 400px; /* Limite de largura */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
}
