.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #EA7C00;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item :hover {
    color: #ffbb33;
}

