.support-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.support-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #ea7c00;
  color: white;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #cf6e00;
}

.success-message {
  color: green;
  font-size: 1.25em;
  text-align: center;
}

.paragraph{
  margin-bottom: 50px;
}